{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="register" method="post">
        {% csrf_token %}
        <div class="user-details">

          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" name="User name" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">First name</span>
            <input type="text" name="First name" placeholder="Enter your first name" required>
          </div>
          <div class="input-box">
            <span class="details">Last name</span>
            <input type="text" name="Last name" placeholder="Enter your lastname" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" name="email" placeholder="Enter your email" required>
          </div>

          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" name="password" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" name="password1" placeholder="Confirm your password" required>
          </div>
        </div>

        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
      {% for msg in messages %}
      <h2>{{msg}}</h2>
      {% endfor %}
    </div>
  </div>

</body>
</html>


